astro:sun:home  [
  geolocation="{{ (ds "configs").settings.i18n.latitude }},{{ (ds "configs").settings.i18n.longitude }},{{ (ds "configs").settings.i18n.altitude }}",
  interval=60
]
astro:moon:home  [
  geolocation="{{ (ds "configs").settings.i18n.latitude }},{{ (ds "configs").settings.i18n.longitude }},{{ (ds "configs").settings.i18n.altitude }}",
  interval=60
]

astro:sun:home_set_with_offset [
  geolocation="{{ (ds "configs").settings.i18n.latitude }},{{ (ds "configs").settings.i18n.longitude }},{{ (ds "configs").settings.i18n.altitude }}",
  interval=60
] {
  Channels:
    Type rangeEvent : set#event [ offset=-30 ]
}
