Thing daikin:ac_unit:{{ (ds "configs").things.daikin_great_room.thing_id }} "HVAC" @ "Great Room" [
  host="{{ (ds "secrets").things.daikin_great_room.host }}"
]

Thing daikin:ac_unit:{{ (ds "configs").things.daikin_main_bedroom.thing_id }} "HVAC" @ "Main Bedroom" [
  host="{{ (ds "secrets").things.daikin_main_bedroom.host }}"
]
