Thing konnected:module:generic "Konnected Alarm Panel" [
  ipAddress="{{ (ds "secrets").things.konnected.alarm_panel.host }},
  macAddress="{{ (ds "secrets").things.konnected.alarm_panel.mac_address }}"
]
