Thing konnected:pro-module:generic "Konnected Alarm Panel" @ "Main Bedroom Closet" [
  ipAddress="{{ (ds "secrets").things.konnected.alarm_panel.host }}",
  macAddress="{{ (ds "secrets").things.konnected.alarm_panel.mac_address }}"
]
