Bridge mqtt:broker:mosquitto [
  host="{{ (ds "secrets").things.mqtt.host }}",
  port={{ (ds "secrets").things.mqtt.port }},
  secure={{ (ds "secrets").things.mqtt.secure }},
  username="{{ (ds "secrets").things.mqtt.username }}",
  password="{{ (ds "secrets").things.mqtt.password }}",
  certificatepin=false,
  publickeypin=false
] {
  Thing topic sensor_door_front "MQTT Thing — Front Door Sensor" {
    Channels:
      Type string : state "State" [
        stateTopic="konnected/binary_sensor/front_door"
      ]
  }
  Thing topic sensor_door_deck "MQTT Thing — Deck Door Sensor" {
    Channels:
      Type string : state "State" [
        stateTopic="konnected/binary_sensor/deck_door"
      ]
  }
  Thing topic sensor_door_garage_entry "MQTT Thing — Garage Entry Door Sensor" {
    Channels:
      Type string : state "State" [
        stateTopic="konnected/binary_sensor/garage_entry_door"
      ]
  }
  Thing topic sensor_motion_detector "MQTT Thing — Motion Detector" {
    Channels:
      Type string : state "State" [
        stateTopic="konnected/binary_sensor/motion_detector"
      ]
  }
}
