{{- range (ds "configs").things.network.ping_devices -}}
  {{- $params := slice }}
  {{- range $k, $v := .parameters }}
    {{- $param := printf "%s=%v" $k $v }}
    {{- $params = $params | append $param }}
  {{- end -}}
Thing network:pingdevice:{{ .id }} "Pingable Network Device — {{ .name }}" [ {{ join $params "," }} ]
{{- end }}
