roku:roku_player:office "Roku Streaming Stick+" @ "Office" [
  hostName="{{ (ds "configs").things.roku.host }}",
  refresh={{ (ds "configs").things.roku.refresh }},
  port={{ (ds "configs").things.roku.port }}
]
