Thing shelly:shellyplus1:garage_door "Shelly 1 Plus" @ "Garage" [
    deviceIp="{{ (ds "configs").things.shelly.devices.garage_door.device_ip }}",
    userId="{{ (ds "configs").things.shelly.devices.garage_door.user_id }}",
    password="{{ (ds "configs").things.shelly.devices.garage_door.password }}"
]