Thing telegram:telegramBot:Telegram_Bot [
  chatIds="{{ (ds "secrets").settings.telegram.boty_mcbotface.chat_id }}",
  botToken="{{ (ds "secrets").settings.telegram.boty_mcbotface.token }}",
  parseMode="Markdown"
]
