Thing telegram:telegramBot:boty_mcbotface [
  chatIds="{{ (ds "secrets").things.telegram.boty_mcbotface.chat_id }}",
  botToken="{{ (ds "secrets").things.telegram.boty_mcbotface.token }}",
  parseMode="Markdown"
]
