Bridge unifi:controller:home "UniFi Controller" [
  host="{{ (ds "configs").things.unifi.host }}",
  port=443,
  username="{{ (ds "secrets").things.unifi.username }}",
  password="{{ (ds "secrets").things.unifi.password }}",
  refresh=10
] {
{{- range (ds "configs").things.unifi.wireless_clients }}
  Thing wirelessClient {{ .id }} "{{ .name }}" [
    cid="{{ with $id := .id }}{{ range (ds "secrets").things.unifi.wireless_clients }}{{ if eq .id $id }}{{ .cid }}{{ end }}{{ end }}{{ end }}",
    site="{{ .site }}",
    considerHome={{ .consider_home }}
  ]
{{- end }}
}
