Bridge zigbee:coordinator_ember:stick "Zigbee Coordinator" @ "Living Room" [
  zigbee_port="{{ (ds "configs").things.zigbee.coordinator.port }}",
  zigbee_baud={{ (ds "configs").things.zigbee.coordinator.baud_rate }},
  zigbee_flowcontrol={{ (ds "configs").things.zigbee.coordinator.flow_control }},
  zigbee_childtimeout={{ (ds "configs").things.zigbee.coordinator.child_timeout }},
  zigbee_concentrator={{ (ds "configs").things.zigbee.coordinator.concentrator }},
  zigbee_meshupdateperiod={{ (ds "configs").things.zigbee.coordinator.mesh_update_period }},
  zigbee_panid={{ (ds "configs").things.zigbee.coordinator.pan_id }},
  zigbee_extendedpanid="{{ (ds "configs").things.zigbee.coordinator.extended_pan_id }}",
  zigbee_networkkey="{{ (ds "configs").things.zigbee.coordinator.network_key }}"
] {
{{- range (ds "configs").things.zigbee.devices }}
  {{- $params := slice }}
  {{- range $k, $v := .parameters }}
    {{- $param := printf "%s=%v" $k $v }}
    {{- $params = $params | append $param }}
  {{- end }}
  Thing device {{ .thing_id }} "Zigbee Device — {{ .label }}" @ "{{ .location }}" [ {{ join $params "," }} ]
{{- end }}
}
