Bridge zwave:serial_zstick:controller "Z-Wave Controller" @ "Living Room" [
  port="{{ (ds "configs").things.zwave.controller.port }}",
  controller_master="true",
  controller_softreset="false",
  heal_enable="true",
  security_networkkey="{{ (ds "secrets").things.zwave.controller.security_network_key }}"
] {
{{- range (ds "configs").things.zwave.devices }}
{{ $params := slice }}
{{- range $k, $v := .parameters  }}
{{ append $params slice (printf "%s=%s" $k $v) }}
{{ end }}
  Thing {{ .type_id }} {{ .thing_id }} "{{ .label }}" @ "{{ .location }}" [ node_id={{ .node_id }} ]
{{- end }}
}
