Bridge zwave:serial_zstick:controller "Z-Wave Controller" @ "Living Room" [
  port="{{ (ds "configs").things.zwave.controller.port }}",
  controller_master="true",
  controller_softreset="false",
  heal_enable="true",
  security_networkkey="{{ (ds "secrets").things.zwave.controller.security_network_key }}"
] {
{{- range (ds "configs").things.zwave.devices }}
  {{- $params := slice }}
  {{- range $i, $e := .parameters }}
    {{- range $k, $v := $e }}
      {{- $param := printf "%s=%v" $k $v }}
      {{ print $param }}
      {{- $params | append $param }}
    {{- end }}
  {{- end }}
  {{- $ugh := join $params "," }}
  Thing {{ .type_id }} {{ .thing_id }} "{{ .label }}" @ "{{ .location }}" [  ]
{{- end }}
}
