Bridge zwave:serial_zstick:controller "Z-Wave Controller" @ "Living Room" [
  port="{{ (ds "configs").things.zwave.controller.port }}",
  controller_master="true",
  controller_softreset="false",
  heal_enable="true",
  security_networkkey="{{ (ds "secrets").things.zwave.controller.security_network_key }}"
] {
{{- range (ds "configs").things.zwave.devices -}}
{{- $params := slice -}}
{{- range $k, $v := .parameters -}}
taco [{{ $k }}]
bell [{{ $v }}]
{{- $param := slice (printf "%s=%s" $k $v) -}}
{{- append $params $param -}}
{{- end -}}
  {{ join $params "," }}
  Thing {{ .type_id }} {{ .thing_id }} "{{ .label }}" @ "{{ .location }}" [ {{ join $params "," }} ]
{{- end }}
}
