bots=boty_mcbotface

boty_mcbotface.chatId={{ (ds "secrets").settings.telegram.boty_mcbotface.chat_id }}
boty_mcbotface.token={{ (ds "secrets").settings.telegram.boty_mcbotface.token }}
boty_mcbotface.parseMode=Markdown
