{{- $garageDoorSensorTypeID := (ds "configs").things.zwave.devices.sensor_garage_door.type_id -}}
{{- $garageDoorSensorThingID := (ds "configs").things.zwave.devices.sensor_garage_door.thing_id -}}
{{- $garageDoorSensorChannelPrefix := printf "zwave:%s:controller:%s" $garageDoorSensorTypeID $garageDoorSensorThingID -}}
// garage door contact sensor
Number:Dimensionless GarageRollupDoorContactSensor_Battery "Battery [%d %%]" <battery> (GarageRollupDoorContactSensor,Persist) ["Battery"] {
  channel = "{{ $garageDoorSensorChannelPrefix }}:battery-level"
}
Contact GarageRollupDoorContactSensor_State "State" (GarageRollupDoorContactSensor,GarageRollupDoor_State,Persist) ["OpenState"] {
  channel = "{{ $garageDoorSensorChannelPrefix }}:sensor_door"
}
Switch GarageRollupDoorContactSensor_TamperAlarm "Tamper Alarm" <alarm> (GarageRollupDoorContactSensor,Persist) ["Tampered"] {
  channel = "{{ $garageDoorSensorChannelPrefix }}:alarm_tamper"
}

{{ $garageDoorTiltSensorTypeID := (ds "configs").things.zwave.devices.tilt_sensor_garage_door.type_id -}}
{{- $garageDoorTiltSensorThingID := (ds "configs").things.zwave.devices.tilt_sensor_garage_door.thing_id -}}
{{- $garageDoorTiltSensorChannelPrefix := printf "zwave:%s:controller:%s" $garageDoorTiltSensorTypeID $garageDoorTiltSensorThingID -}}
// garage door tilt sensor
Number:Dimensionless GarageRollupDoorTiltSensor_Battery "Battery [%d %%]" <battery> (GarageRollupDoorTiltSensor,Persist) ["Battery"] {
  channel = "{{ $garageDoorTiltSensorChannelPrefix }}:battery-level"
}
Contact GarageRollupDoorTiltSensor_State "State" (GarageRollupDoorTiltSensor,GarageRollupDoor_State,Persist) ["OpenState"] {
  channel = "{{ $garageDoorTiltSensorChannelPrefix }}:sensor_door"
}
Switch GarageRollupDoorTiltSensor_TamperAlarm "Tamper Alarm" <alarm> (GarageRollupDoorTiltSensor,Persist) ["Tampered"] {
  channel = "{{ $garageDoorTiltSensorChannelPrefix }}:alarm_tamper"
}

Group:Contact:AND(CLOSED,OPEN) GarageRollupDoor_State "State" (GarageRollupDoor,ExternalDoorStates) ["OpenState"]
DateTime GarageRollupDoor_LastClosedAt
DateTime GarageRollupDoor_LastOpenAt

// overhead lights
Switch GarageOverheadLights_Switch "Switch" (GarageOverheadLights,LightStates,Persist) ["Switch","Light"] { channel="tplinksmarthome:hs200:garage:switch" }

{{ $garageDoorSwitchMacAddress := (ds "configs").things.zigbee.devices.switch_garage_door.parameters.zigbee_macaddress | strings.ReplaceAll "\"" "" -}}
// garage door opener
Switch GarageRollupDoor_Switch "Switch" (GarageRollupDoor,Persist) ["Control"] {
  channel = "zigbee:device:stick:switch_garage_door:{{ $garageDoorSwitchMacAddress }}_1_switch"
}
