Group:Switch:AND(OFF,ON) HVAC_Power

Number:Temperature OutdoorHVACUnit_Temperature "Temperature" <temperature> (OutdoorHVACUnit) ["Measurement","Temperature"] { channel="daikin:ac_unit:living_room:outdoortemp" }

{{ range (ds "configs").things.daikin }}
Number:Temperature {{ .name }}HVAC_Temperature       "Temperature"          <temperature> ({{ .name }}HVAC)            ["Measurement","Temperature"] { channel="daikin:ac_unit:{{ .thing_id }}:indoortemp" }
Number:Temperature {{ .name }}HVAC_SetPoint          "Set Point"            <temperature> ({{ .name }}HVAC)            ["SetPoint","Temperature"]    { channel="daikin:ac_unit:{{ .thing_id }}:settemp" }
String             {{ .name }}HVAC_Fan               "Fan"                  <fan>         ({{ .name }}HVAC)            ["Control"]                   { channel="daikin:ac_unit:{{ .thing_id }}:fanspeed" }
String             {{ .name }}HVAC_FanSwing          "Fan Swing"            <fan>         ({{ .name }}HVAC)            ["Control"]                   { channel="daikin:ac_unit:{{ .thing_id }}:fandir" }
String             {{ .name }}HVAC_Mode              "Mode"                 <heating>     ({{ .name }}HVAC)            ["Control"]                   { channel="daikin:ac_unit:{{ .thing_id }}:mode" }
Switch             {{ .name }}HVAC_Power             "Power"                <switch>      ({{ .name }}HVAC,HVAC_Power) ["Switch"]                    { channel="daikin:ac_unit:{{ .thing_id }}:power" }
Switch             {{ .name }}HVAC_KeepOnWhenLeaving "Keep On When Leaving" <switch>      ({{ .name }}HVAC)
String             {{ .name }}HVAC_SpecialMode       "SpecialMode"          <flow>        ({{ .name }}HVAC)            ["Control"]                   { channel="daikin:ac_unit:{{ .thing_id }}:specialmode" }
{{ end }}
