Number:Temperature HVAC_OutdoorUnit_Temperature "Temperature" <temperature> (HVAC,HVAC_OutdoorUnit) ["Measurement","Temperature"] { channel="daikin:ac_unit:living_room:outdoortemp" }

{{ range (ds "configs").things.daikin }}
Number:Temperature HVAC_IndoorUnit_{{ .name }}_Temperature  "Temperature"   <temperature> (HVAC,HVAC_IndoorUnit_{{ .name }})            ["Measurement","Temperature"] { channel="daikin:ac_unit:{{ .thing_id }}:indoortemp" }
Number:Temperature HVAC_IndoorUnit_{{ .name }}_SetPoint     "Set Point"     <temperature> (HVAC,HVAC_IndoorUnit_{{ .name }})            ["SetPoint","Temperature"]    { channel="daikin:ac_unit:{{ .thing_id }}:settemp" }
String             HVAC_IndoorUnit_{{ .name }}_Fan          "Fan"           <fan>         (HVAC,HVAC_IndoorUnit_{{ .name }})            ["Control"]                   { channel="daikin:ac_unit:{{ .thing_id }}:fanspeed" }
String             HVAC_IndoorUnit_{{ .name }}_FanSwing     "Fan Swing"     <fan>         (HVAC,HVAC_IndoorUnit_{{ .name }})            ["Control"]                   { channel="daikin:ac_unit:{{ .thing_id }}:fandir" }
String             HVAC_IndoorUnit_{{ .name }}_Mode         "Mode"          <heating>     (HVAC,HVAC_IndoorUnit_{{ .name }})            ["Control"]                   { channel="daikin:ac_unit:{{ .thing_id }}:mode" }
Switch             HVAC_IndoorUnit_{{ .name }}_Power        "Power"         <switch>      (HVAC,HVAC_IndoorUnit_{{ .name }},HVAC_Power) ["Switch"]                    { channel="daikin:ac_unit:{{ .thing_id }}:power" }
Switch             HVAC_IndoorUnit_{{ .name }}_PowerfulMode "Powerful Mode" <switch>      (HVAC,HVAC_IndoorUnit_{{ .name }})            ["Switch"]                    { channel="daikin:ac_unit:{{ .thing_id }}:specialmode-powerful" }
{{ end }}
