Dimmer Light_Landing_Dimmer "Dimmer" <slider> (Light_Landing,Persist) ["Control","Light"] {
  channel = "zigbee:device:stick:light_bulb_landing:{{ (ds "secrets").things.zigbee.devices.light_bulb_landing.mac_address }}_1_dimmer"
}

Dimmer Light_Living_Room_Dimmer "Dimmer" <slider> (Light_Living_Room,Persist) ["Control","Light"] {
  channel = "zigbee:device:stick:light_bulb_living_room:{{ (ds "secrets").things.zigbee.devices.light_bulb_living_room.mac_address }}_11_dimmer"
}
