Group Network "Network" (House) ["Location"]

Group Network_SpeedTest "Speed Test" (Network) ["NetworkAppliance"]

// speed test
DateTime                Speedtest_LUD        "Timestamp [%1$tH:%1$tM]"   <time> (Network_Speedtest) ["Measurement","Timestamp"] { channel="network:speedtest:local:testEnd" }
DateTime                Speedtest_Start      "Test Start [%1$tH:%1$tM]"  <time> (Network_Speedtest) ["Measurement","Timestamp"] { channel="network:speedtest:local:testStart" }
Number:DataTransferRate Speedtest_ResultDown "Downlink [%.2f %unit%]"           (Network_Speedtest) ["Measurement"]             { channel="network:speedtest:local:rateDown" }
Number:DataTransferRate Speedtest_ResultUp   "Uplink [%.2f %unit%]"             (Network_Speedtest) ["Measurement"]             { channel="network:speedtest:local:rateUp" }
Number:Dimensionless    Speedtest_Progress   "Test progress [%d %unit%]"        (Network_Speedtest) ["Point"]                   { channel="network:speedtest:local:progress" }
String                  Speedtest_Running    "Test running ... [%s]"            (Network_Speedtest) ["Point"]                   { channel="network:speedtest:local:isRunning" }

{{ range $n := (ds "secrets").things.networking -}}
{{ range $n.items -}}
{{ .type }} {{ $n.name }}_{{ .name }} (Home,IsHome_James,JamesPresence,Network) {{ "{" }} channel="network:{{ $n.type_id }}:{{ $n.thing_id }}:{{ .channel }}" {{ "}" }}
{{ end }}
{{ end -}}

Group Phone_James "James' Phone" (Network) ["Smartphone"]

Switch   Unifi_Phone_James           "[MAP(unifi.map):%s]"           (Phone_James) ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:online" }
String   Unifi_Phone_James_Site      "Site [%s]"                     (Phone_James) ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:site" }
String   Unifi_Phone_James_MAC       "MAC [%s]"                      (Phone_James) ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:macAddress" }
String   Unifi_Phone_James_IP        "IP [%s]"                       (Phone_James) ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:ipAddress" }
String   Unifi_Phone_James_AP        "AP [%s]"                       (Phone_James) ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:ap" }
String   Unifi_Phone_James_ESSID     "ESSID [%s]"                    (Phone_James) ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:essid" }
Number   Unifi_Phone_James_RSSI      "RSSI [%d]"                     (Phone_James) ["Measurement"]             { channel="unifi:wirelessClient:home:phone_james:rssi" }
Number   Unifi_Phone_James_Uptime    "Uptime [%d]"                   (Phone_James) ["Measurement"]             { channel="unifi:wirelessClient:home:phone_james:uptime" }
DateTime Unifi_Phone_James_LastSeen  "Last Seen [%1$tH:%1$tM:%1$tS]" (Phone_James) ["Measurement","Timestamp"] { channel="unifi:wirelessClient:home:phone_james:lastSeen" }
Switch   Unifi_Phone_James_Blocked   "Blocked"                       (Phone_James) ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:blocked" }
Switch   Unifi_Phone_James_Reconnect "Reconnect"                     (Phone_James) ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:reconnect" }
