Switch   UnifiController_WirelessClient_James_Status    "Status [MAP(unifi.map):%s]"    (Network_Device_Phone_James,Present_James,Present,Persist) ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:online" }
String   UnifiController_WirelessClient_James_Site      "Site [%s]"                     (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:site" }
String   UnifiController_WirelessClient_James_MAC       "MAC Address [%s]"              (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:macAddress" }
String   UnifiController_WirelessClient_James_IP        "IP Address [%s]"               (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:ipAddress" }
String   UnifiController_WirelessClient_James_AP        "AP MAC Address [%s]"           (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:ap" }
String   UnifiController_WirelessClient_James_ESSID     "Network Name [%s]"             (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:essid" }
Number   UnifiController_WirelessClient_James_RSSI      "RSSI [%d]"                     (Network_Device_Phone_James)                               ["Measurement"]             { channel="unifi:wirelessClient:home:phone_james:rssi" }
Number   UnifiController_WirelessClient_James_Uptime    "Uptime [%d]"                   (Network_Device_Phone_James)                               ["Measurement"]             { channel="unifi:wirelessClient:home:phone_james:uptime" }
DateTime UnifiController_WirelessClient_James_LastSeen  "Last Seen [%1$tH:%1$tM:%1$tS]" (Network_Device_Phone_James)                               ["Measurement","Timestamp"] { channel="unifi:wirelessClient:home:phone_james:lastSeen" }
Switch   UnifiController_WirelessClient_James_Blocked   "Blocked"                       (Network_Device_Phone_James)                               ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:blocked" }
Switch   UnifiController_WirelessClient_James_Reconnect "Reconnect"                     (Network_Device_Phone_James)                               ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:reconnect" }

Switch   Network_PingDevice_Phone_James "Staus [%s]" (Network_Device_Phone_James,Present_James,Present) ["Switch"] { channel="network:pingdevice:phone_james:online" }
