Switch   UnifiController_WirelessClient_James_Status    "Unifi — Status [MAP(unifi.map):%s]"    (Network_Device_Phone_James,Present_James,Present,Persist) ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:online" }
String   UnifiController_WirelessClient_James_Site      "Unifi — Site [%s]"                     (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:site" }
String   UnifiController_WirelessClient_James_MAC       "Unifi — MAC Address [%s]"              (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:macAddress" }
String   UnifiController_WirelessClient_James_IP        "Unifi — IP Address [%s]"               (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:ipAddress" }
String   UnifiController_WirelessClient_James_AP        "Unifi — AP MAC Address [%s]"           (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:ap" }
String   UnifiController_WirelessClient_James_ESSID     "Unifi — Network Name [%s]"             (Network_Device_Phone_James)                               ["Point"]                   { channel="unifi:wirelessClient:home:phone_james:essid" }
Number   UnifiController_WirelessClient_James_RSSI      "Unifi — RSSI [%d]"                     (Network_Device_Phone_James)                               ["Measurement"]             { channel="unifi:wirelessClient:home:phone_james:rssi" }
Number   UnifiController_WirelessClient_James_Uptime    "Unifi — Uptime [%d]"                   (Network_Device_Phone_James)                               ["Measurement"]             { channel="unifi:wirelessClient:home:phone_james:uptime" }
DateTime UnifiController_WirelessClient_James_LastSeen  "Unifi — Last Seen [%1$tH:%1$tM:%1$tS]" (Network_Device_Phone_James)                               ["Measurement","Timestamp"] { channel="unifi:wirelessClient:home:phone_james:lastSeen" }
Switch   UnifiController_WirelessClient_James_Blocked   "Unifi — Blocked"                       (Network_Device_Phone_James)                               ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:blocked" }
Switch   UnifiController_WirelessClient_James_Reconnect "Unifi — Reconnect"                     (Network_Device_Phone_James)                               ["Switch"]                  { channel="unifi:wirelessClient:home:phone_james:reconnect" }
Switch   Network_PingDevice_Phone_James_Status          "Ping — Status [MAP(unifi.map):%s]"     (Network_Device_Phone_James,Present_James,Present,Persist) ["Switch"]                  { channel="network:pingdevice:phone_james:online" }
DateTime Network_PingDevice_Phone_James_LastSeen        "Ping — Last Seen [%1$tH:%1$tM:%1$tS]"  (Network_Device_Phone_James,Present_James,Present)         ["Measurement","Timestamp"] { channel="network:pingdevice:phone_james:lastseen" }
