// HVAC
Group HVAC_MainBedroom "HVAC" <heating> (Room_Bedroom_Main) ["HVAC"]

Number:Dimensionless HVAC_MainBedroom_IndoorHumidity     "Indoor Humidity"     <humidity>    (HVAC,HVAC_MainBedroom)              ["Measurement","Humidity"]    { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:humidity" }
Number:Temperature   HVAC_MainBedroom_IndoorTemperature  "Indoor Temperature"  <temperature> (HVAC,HVAC_MainBedroom,Temperatures) ["Measurement","Temperature"] { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:indoortemp" }
Number:Temperature   HVAC_MainBedroom_OutdoorTemperature "Outdoor Temperature" <temperature> (HVAC,HVAC_MainBedroom,Temperatures) ["Measurement","Temperature"] { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:outdoortemp" }
Number:Temperature   HVAC_MainBedroom_SetPoint           "Set Point"           <temperature> (HVAC,HVAC_MainBedroom,Temperatures) ["SetPoint","Temperature"]    { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:settemp" }
String               HVAC_MainBedroom_Fan                "Fan"                 <fan>         (HVAC,HVAC_MainBedroom)              ["Control"]                   { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:fanspeed" }
String               HVAC_MainBedroom_FanSwing           "Fan Swing"           <fan>         (HVAC,HVAC_MainBedroom)              ["Control"]                   { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:fandir" }
String               HVAC_MainBedroom_Mode               "Mode"                <heating>     (HVAC,HVAC_MainBedroom)              ["Control"]                   { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:mode" }
Switch               HVAC_MainBedroom_Power              "Power"               <switch>      (HVAC,HVAC_MainBedroom)              ["Switch"]                    { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:power" }
Switch               HVAC_MainBedroom_PowerfulMode       "Powerful Mode"       <switch>      (HVAC,HVAC_MainBedroom)              ["Switch"]                    { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.main_bedroom.thing_id }}:specialmode-powerful" }
