// HVAC
Group HVAC_LivingRoom "HVAC" <heating> (Room_Living) ["HVAC"]

Number:Dimensionless HVAC_LivingRoom_IndoorHumidity     "Indoor Humidity"     <humidity>    (HVAC,HVAC_LivingRoom)              ["Measurement","Humidity"]    { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:humidity" }
Number:Temperature   HVAC_LivingRoom_IndoorTemperature  "Indoor Temperature"  <temperature> (HVAC,HVAC_LivingRoom,Temperatures) ["Measurement","Temperature"] { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:indoortemp" }
Number:Temperature   HVAC_LivingRoom_OutdoorTemperature "Outdoor Temperature" <temperature> (HVAC,HVAC_LivingRoom,Temperatures) ["Measurement","Temperature"] { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:outdoortemp" }
Number:Temperature   HVAC_LivingRoom_SetPoint           "Set Point"           <temperature> (HVAC,HVAC_LivingRoom,Temperatures) ["SetPoint","Temperature"]    { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:settemp" }
String               HVAC_LivingRoom_Fan                "Fan"                 <fan>         (HVAC,HVAC_LivingRoom)              ["Control"]                   { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:fanspeed" }
String               HVAC_LivingRoom_FanSwing           "Fan Swing"           <fan>         (HVAC,HVAC_LivingRoom)              ["Control"]                   { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:fandir" }
String               HVAC_LivingRoom_Mode               "Mode"                <heating>     (HVAC,HVAC_LivingRoom)              ["Control"]                   { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:mode" }
Switch               HVAC_LivingRoom_Power              "Power"               <switch>      (HVAC,HVAC_LivingRoom)              ["Switch"]                    { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:power" }
Switch               HVAC_LivingRoom_PowerfulMode       "Powerful Mode"       <switch>      (HVAC,HVAC_LivingRoom)              ["Switch"]                    { channel="daikin:ac_unit:{{ (ds "configs").things.daikin.great_room.thing_id }}:specialmode-powerful" }
