Group Door_External_Entryway "Front Door" <frontdoor> (Room_Entryway) ["FrontDoor"]

Group Sensor_FrontDoor "Sensor" (Door_External_Entryway) ["Sensor"]

Number:Dimensionless Door_Front_Battery "Battery [%d %%]" (Sensor_FrontDoor) ["Measurement"] { channel = "zwave:eco_dwzwave25_00_000:controller:{{ (ds "configs").things.zwave.sensors.front_door.thing_id }}:battery-level"[profile="transform:MAP", function="binary"] }
Contact              Door_Front_State   "State"           (Sensor_FrontDoor) ["OpenState"]   { channel = "zwave:eco_dwzwave25_00_000:controller:{{ (ds "configs").things.zwave.sensors.front_door.thing_id }}:sensor_binary" }
