Group Door_External_Entryway "Front Door" <frontdoor> (Room_Entryway) ["FrontDoor"]

Number:Dimensionless Door_Front_Battery "Battery [%d %%]" (Batteries,Door_External_Entryway) ["Measurement"] { channel = "zwave:eco_dwzwave25_00_000:controller:{{ (ds "configs").things.zwave.sensors.front_door.thing_id }}:battery-level"[profile="transform:MAP", function="binary"] }
Contact              Door_Front_State   "State"           (Doors,Door_External_Entryway)     ["OpenState"]   { channel = "zwave:eco_dwzwave25_00_000:controller:{{ (ds "configs").things.zwave.sensors.front_door.thing_id }}:sensor_binary" }
