// front door
Switch FrontDoorContactSensor_State (FrontDoorContactSensor) ["Status"] { channel="mqtt:topic:mosquitto:sensor_door_front:state" }
Contact FrontDoor_State "State" (FrontDoor,Persist) ["OpenState"]

// garage entry door
Switch GaragePersonDoorContactSensor_State (GaragePersonDoorContactSensor) ["Status"] { channel="mqtt:topic:mosquitto:sensor_door_garage_entry:state" }
Contact GaragePersonDoor_State "State" (GaragePersonDoor,Persist) ["OpenState"]

// deck door
Switch DeckDoorContactSensor_State (DeckDoorContactSensor) ["Status"] { channel="mqtt:topic:mosquitto:sensor_door_deck:state" }
Contact DeckDoor_State "State" (DeckDoor,Persist) ["OpenState"]

// motion detector
Switch LandingMotionSensor_State "State" (LandingMotionSensor,Persist) ["Status"] { channel="mqtt:topic:mosquitto:sensor_motion_detector:state" }
